<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <%= raw content_module.options.disabled_title %>

      <p><%= raw content_module.options.disabled_content %></p>
    </div>
  </div>
</div>