<div id='page-not-available-background'>
  <article class='container'>
    <div class='row'>
      <div class='col-md-12'>
        <%= t('page_not_available').html_safe %>
      </div>
    </div>
  </article>
</div>
